{% extends 'base.html' %}
{% load static %}

{% block content %}
       <section class="register">
            <div class="register__block">
                <form class="register__form" method="post">
                    <div class="register__title">
                        Регистрация
                    </div>
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form.date_joined}}
                    {{form.username.errors}}
                    <div class="register__item">
                        {{form.username}}

                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Nickname
                        </span>
                    </div>
                    {{form.email.errors}}
                    <div class="register__item">
                        {{form.email}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            E-mail
                        </span>
                    </div>
                    {{form.password1.errors}}
                    <div class="register__item">
                        {{form.password1}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Пароль
                        </span>
                    </div>
                    {{form.password2.errors}}
                    <div class="register__item">
                        {{form.password2}}
                        <span class="register__focus">
                        </span>
                        <span class="register__item--title">
                            Повтороите пароль
                        </span>
                    </div>
                    <button type="submit" class="register__btn">
                        Зарегистрироваться
                    </button>
                    <div class="register__text">
                        У Вас уже есть аккаунт? <a href="{% url 'accounts:login' %}">Войти</a>
                    </div>
                </form>
                
            </div>
       </section>
{% endblock %}