{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/icon/favicon1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <title>LMS</title>

    <body>

       <section class="main">
            <nav class="menu">
                <div class="menu__title title">
                    Одеський Національний
                    Політехнічний Університет
                </div>
                <ul class="menu__list">
                    <a href="shedule.html" class="menu__item">
                        <img src="{% static 'img/icon/calendar.svg' %}" class="img-svg" alt="">
                        <span>Розклад занять</span>
                    </a>
                    <a href="" class="menu__item">
                        <img src="{% static 'img/icon/calendar-time.svg' %}" class="img-svg" alt="">
                        <span>Розклад консультацій</span>
                    </a>
                    <a href="journal.html" class="menu__item">
                        <img src="{% static 'img/icon/notebook.svg' %}" class="img-svg" alt="">
                        <span>Електронний журнал</span>
                    </a>
                    <a href="" class="menu__item">
                        <img src="{% static 'img/icon/group.svg' %}" class="img-svg" alt="">
                        <span>Группа</span>
                    </a>
                    <a href="settings.html" class="menu__item">
                        <img src="{% static 'img/icon/settings.svg' %}" class="img-svg" alt="">
                        <span>Налаштування</span>
                    </a>
                </ul>
            </nav>
            <div class="content">
                <header class="header">
                    <div class="header__cath">
                        Кафедра ІУЗІС
                    </div>
                    {% if user.is_authenticated %}
                    <div class="header__profile">
                        <div class="header__item">
                            <div class="header__name">
                                <a href="{% url 'accounts:profile' %}">{{user.surname}} {{user.first_name}}</a>
                            </div>
                            <div class="header__group">
                                {{user.username}}
                            </div>
                        </div>
                        <div class="header__item header__icon">
                            <img src="{{ user.image.url }}" alt="">
                        </div>
                        <div class="header__item">
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div><a href="{% url 'accounts:registration' %}">Регистрация</a></div>
                    {% endif %}
                </header>
                    {% block content %}

                    {% endblock %}
            </div>
       </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="{% static 'js/maskinput.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>

</html>